body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 1rem;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    
    grid-template-rows: 10% 1fr 10%;
    height: 100vh;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    font-size: 1.4rem;
    background: #040404;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: gold;
}

.navigation a:hover {
    background: gold;
    color: black;
    font-weight: bold;
}

@media all and (max-width:800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width:600px) {
    .navigation {
        flex-flow: row wrap;
        padding: 0;

    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a{
        border-bottom: none;
    }
}

.button button {
    padding: 15px 30px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.table{
    background: #FFFFFF;
    max-width: 800px;
    margin: auto;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}